name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: trading-cz/github-action/.github/workflows/python-ci.yml@main
    with:
      python-version: '3.12'
      source-dir: tradingcz
      test-dir: tests
