name: MegaLinter

on:
  pull_request:
    branches: [main]

jobs:
  megalinter:
    uses: trading-cz/github-action/.github/workflows/megalinter.yml@main
    permissions:
      contents: write
      pull-requests: write
